<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
     .container {
     max-width: 560px;
     }
     .btn.btn-outline-primary.liked {
                background-color: blue;
                color: white;
        }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>
    <div>
        <label for="itemId">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control"
               value="1" th:value="${item.id}" readonly>
    </div>
    <div>
        <label for="itemName">상품명</label>
        <input type="text" id="itemName" name="itemName" class="form-control"
               value="상품A" th:value="${item.name}" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control"
               value="10000" th:value="${item.price}" readonly>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control"
               value="10" th:value="${item.stockQuantity}" readonly>
    </div>
    <div>
        <label for="artist">가수</label>
        <input type="text" id="artist" name="artist" class="form-control"
               value="artist" th:value="${item.artist}" readonly>
    </div>
    <div>
        <label for="quantity">etc</label>
        <input type="text" id="etc" name="etc" class="form-control"
               value="etc" th:value="${item.etc}" readonly>
    </div>
    <div>
        <!-- 좋아요 버튼 -->
        <form th:action="@{'/item/like'}"method="post">
            <input type="hidden" name="itemId" th:value="${item.id}">
            <input type="hidden" name="memberId" th:value="${member.id}">
            <button class="btn btn-outline-primary" th:classappend="${isLiked ? 'liked' : ''}">좋아요</button>
        </form>
        <!-- 좋아요 수 -->
        <span>좋아요 개수: <span th:text="${item.likes}"></span></span>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/order(itemId=${item.id}, memberId=${member.id})}'|" type="button">주문하기</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/items(memberId=${member.id})}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>