<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>


    <form action="/items" method="get">
        <label for="sortBy">정렬 기준:</label>

        <select name="sortBy" id="sortBy">
            <option value="">선택하세요</option>
            <option value="name">상품명</option>
            <option value="price">가격</option>
            <option value="likes">좋아요</option>
        </select>


        <button type="submit">정렬하기</button>
    </form>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th>좋아요</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td th:text="${item.likes}"></td>

                <td>
                    <a href="#" th:href="@{/item(itemId=${item.id}, memberId=${memberId})}"
                       class="btn btn-primary" role="button">상품상세</a>

                    <a href="#" th:href="@{/order(itemId=${item.id}, memberId=${memberId})}"
                       class="btn btn-primary" role="button">주문</a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>



    <div class="pagination">
        <ul>
            <li th:each="pageNum : ${#numbers.sequence(0, totalPages-1)}" style="display: inline-block; margin: 5px;">
                <a th:href="@{/items(page=${pageNum}, sortBy=${sortBy})}" th:text="${pageNum+1}" style="padding: 5px 10px; border: 1px solid #ccc; border-radius: 5px;"></a>
            </li>
        </ul>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>